<% include ./partials/deep_header %>
<link rel="stylesheet" href="../../css/lightslider.min.css">
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="breadcrumb_iner">
          <div class="breadcrumb_iner_item">
            <p>Home/Shop/Single product</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb start-->

<!--================Single Product Area =================-->
<div class="product_image_area section_padding">
  <div class="container">
    <div class="row s_product_inner">
      <div class="col-lg-5">
        <div class="product_slider_img">
          <div id="vertical">
          </div>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <div class="s_product_text">
          <h3 id="pname"></h3>
          <h2 id="price"></h2>
          <p id="description">
          </p>

          <a onclick="toggleReview()"><b>Seller reviews</b></a>
          <div class="reviewBox" style="height:200px;overflow:auto;"></div>
          <br/><br/>
          <div class="review_box">
            <a class="show_message" onclick="toggleMessages()"><b>Show messages</b></a>
            <div class="oldchat">
            <div class="chat" style="height:200px;overflow:auto;"></div>
            <form class="row contact_form_reply" action="" method="post" novalidate="novalidate">
              <div class="col-md-12">
              <br/><h4>Send A Messages</h4>
              
              </div>
              <div class="col-md-12">
              <small class="response_msg__" style="color:#f00;"></small>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <textarea class="form-control" id="message" rows="1" placeholder="Review"></textarea>
                </div>
              </div>
              <div class="col-md-12 text-right">
                <button onclick="sendReply()" type="button" value="submit" class="btn_3 sendBtn">
                  Submit Now
                </button>
                <img src="../../img/loading.gif" class="loader"/>
              </div>
            </form>
            </div>

            <form class="row contact_form" action="" method="post" novalidate="novalidate">
            <h4>Messages Seller</h4>
            <div class="col-md-12">
            <small class="response_msg_" style="color:#f00;"></small>
            </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" id="name" placeholder="Your Full name" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="email" class="form-control" id="email" placeholder="Email Address" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" id="number" placeholder="Phone Number" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <textarea class="form-control" id="message_new" rows="1" placeholder="Review"></textarea>
                </div>
              </div>
              <div class="col-md-12 text-right">
                <button onclick="sendMessage()" type="button" value="submit" class="btn_3 sendBtn">
                  Submit Now
                </button>
                <img src="../../img/loading.gif" class="loader"/>
              </div>
            </form>

          </div>


        </div>

        
        <form class="row review_form_" action="" method="post" novalidate="novalidate">
            &nbsp;&nbsp;&nbsp;&nbsp;<h4>Post You Review</h4>
            <div class="col-md-12">
            <small class="response_msg_" style="color:#f00;"></small>
            </div>
              <div class="col-md-12">
                <div class="form-group">
                  <textarea class="form-control" id="review_message" rows="1" placeholder="Review" style="height:120px;"></textarea>
                </div>
              </div>
              <div class="col-md-12 text-right">
                <button onclick="sendReview()" type="button" value="submit" class="btn_3 sendBtn">
                  Submit Review
                </button>
                <img src="../../img/loading.gif" class="loader"/>
              </div>
            </form>
      </div>
    </div>
  </div>
</div>

<hr/>
<!-- product_list part start-->
  <section class="product_list best_seller padding_bottom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="section_tittle text-center">
            <h2>Similar Items</h2>
          </div>
        </div>
      </div>
      <div class="row" id="similiar">
          
      </div>
    </div>
  </section>
  <!-- product_list part end-->

<!--================End Single Product Area =================-->

<!-- product_list part end-->
<% include ./partials/deep_footer %>
<script>
var user=JSON.parse(localStorage.getItem("user"));
document.getElementById('name').value = user.name;
document.getElementById('email').value = user.email;
document.getElementById('number').value = user.telephone;


$(".loader,.show_message,.review_form_,.reviewBox").hide();
let receiver_id="";
  var settings = {
          "url": "http://localhost:28090/product/getById/",
          "method": "POST",
          "timeout": 0,
          "headers": {
            "Content-Type": "application/json"
          },
          "data": JSON.stringify({"user_id":user.id,"id":<%=id %>}),
        };

  $.ajax(settings).done(function (response) {
  similaritems(response.rows[0].name);
    receiver_id=response.rows[0].user_id;
        document.getElementById('pname').innerHTML = response.rows[0].name;
        document.getElementById('price').innerHTML = "$"+response.rows[0].price;
        document.getElementById('description').innerHTML = response.rows[0].description;

        getReviews();

        if(response.messages.length==0){
          $(".oldchat").hide();
          $(".show_message").hide();
        }else{
          $(".contact_form").hide();
          let chatHistory="";
          for (var i = 0; i < response.messages.length; i++) {
            let color='background:#2f7dfc;color:#fff;';
            let float='';
            console.log(response.messages[i].sender_id+"==="+user.id);
            if(response.messages[i].sender_id==user.id){
              color='background:#cccccc;';
              float='text-align:right;';
            }
            chatHistory+=`<div style="width:95%;`+color+`;`+float+`border:1px solid #ccc;padding:5px 15px;margin:5px;border-radius:10px;">`+response.messages[i].message+`<br/><small>`+response.messages[i].timestamp+`</small></div>`;
          }
          $(".chat").html(chatHistory);
        }

        let htmlData = "";

        for (var i = 0; i < response.images.length; i++) {

          htmlData += `
          <div data-thumb="../`+response.images[i].path+ `">
            <img src="../`+response.images[i].path+`"/>
          </div>
          `
        }

        $("#vertical").html(htmlData);
        loading()

        
        if(response.rows[0].user_id===user.id){
        
          $(".oldchat").hide();
          $(".show_message").hide();
          $(".contact_form").hide();
        }


        if(response.rows[0].status===2){
        
          $(".contact_form").hide();
          $(".review_box").hide();
          $(".review_form_").show();
        }else if(response.rows[0].status===3){
          $(".contact_form,.review_box,.review_form_").hide();
        }
    });

  function loading(){
    
    var product_overview = $('#vertical');
    if(product_overview.length){
     product_overview.lightSlider({
       gallery:true,
       item:1,
       verticalHeight:450,
       thumbItem:4,
       slideMargin:0,
       speed:600,
       autoplay: true,
       responsive : [
         {
             breakpoint:991,
             settings: {
                 item:1,
               }
         },
         {
             breakpoint:576,
             settings: {
                 item:1,
                 slideMove:1,
                 verticalHeight:350,
               }
         }
     ]
     });
    }
  }

  function sendMessage(){
    if($("#name").val()==""){
      $(".response_msg_").html("Full name is mandatory");
    }else if($("#email").val()==""){
      $(".response_msg_").html("Email address is mandatory");
    }else if($("#number").val()==""){
      $(".response_msg_").html("Contact number is mandatory");
    }else if($("#message_new").val()==""){
      $(".response_msg_").html("Message is mandatory");
    }else{
    $(".loader").hide();
            $(".sendBtn").show();

            let msg=$("#name").val()+"<br/>"+$("#email").val()+"<br/>"+$("#number").val()+"<br/>"+$("#message_new").val();
            var payload = {
              "url": "http://localhost:28090/message/send/",
              "method": "POST",
              "timeout": 0,
              "headers": {
                "Content-Type": "application/json"
              },
              "data": JSON.stringify({"receiver_id":receiver_id,"message":msg,"sender_id":user.id,"product_id":<%=id %>}),
            };

            $.ajax(payload).done(function (response) {
                $(".response_msg_").html(""+response.status+"--");
                $(".loader").hide();
                $(".sendBtn").show();

                $(".oldchat").hide();
                $(".show_message").show();
                $(".contact_form").hide();

                getMessages();
            });
          }
  }

  function sendReview(){
  if($("#review_message").val()==""){
    }else{
            var payload = {
              "url": "http://localhost:28090/reviews",
              "method": "POST",
              "timeout": 0,
              "headers": {
                "Content-Type": "application/json"
              },
              "data": JSON.stringify({"seller_id":receiver_id,"review":$("#review_message").val(),"user_id":user.id,"product_id":<%=id %>}),
            };

            $.ajax(payload).done(function (response) {
                location.reload();
            });
    }
  }

  function sendReply(){
  if($("#message").val()==""){
      $(".response_msg__").html("Contact number is mandatory");
    }else{
      $(".loader").hide();
            $(".sendBtn").show();

            var payload = {
              "url": "http://localhost:28090/message/send/",
              "method": "POST",
              "timeout": 0,
              "headers": {
                "Content-Type": "application/json"
              },
              "data": JSON.stringify({"receiver_id":receiver_id,"message":$("#message").val(),"sender_id":user.id,"product_id":<%=id %>}),
            };

            $.ajax(payload).done(function (response) {
                $(".response_msg__").html(""+response.status+"--");
                $(".loader").hide();
                $(".sendBtn").show();
                getMessages();
            });
    }
  }

  function getMessages(){
     var settings = {
          "url": "http://localhost:28090/message/getAllMessages/",
          "method": "POST",
          "timeout": 0,
          "headers": {
            "Content-Type": "application/json"
          },
          "data": JSON.stringify({"user_id":user.id,"product_id":<%=id %>}),
        };

        $.ajax(settings).done(function (response) {
            if(response.rows.length==0){
              $(".oldchat").hide();
            }else{
              $(".contact_form").hide();
              let chatHistory="";
              for (var i = 0; i < response.rows.length; i++) {
                let color='background:#2f7dfc;color:#fff;';
                let float='';
                console.log(response.rows[i].sender_id+"==="+user.id);
                if(response.rows[i].sender_id==user.id){
                  color='background:#cccccc;';
                  float='text-align:right;';
                }
                chatHistory+=`<div style="width:95%;`+color+`;`+float+`border:1px solid #ccc;padding:5px 15px;margin:5px;border-radius:10px;">`+response.rows[i].message+`<br/><small>`+response.rows[i].timestamp+`</small></div>`;
              }
              $(".chat").html(chatHistory);
            }
        });
  }


  function getReviews(){
     var settings = {
          "url": "http://localhost:28090/reviews/"+receiver_id,
          "method": "GET",
          "timeout": 0,
          "headers": {
            "Content-Type": "application/json"
          },
        };

        $.ajax(settings).done(function (response) {
        console.log(response);
            if(response.rows.length==0){
              $(".reviewBox").hide();
            }else{
              let chatHistory='';
              for (var i = 0; i < response.rows.length; i++) {
                chatHistory+=`<div style="width:100%;borderBottom:1px solid #ccc;padding:5px 0px;margin:5px;">`+response.rows[i].review+`<br/><small>`+response.rows[i].timestamp+`</small></div>`;
              }

              $(".reviewBox").html(chatHistory);
            }
        });
  }
  

  function similaritems(name){
    var settings = {
          "url": "http://localhost:28090/product/getAll",
          "method": "POST",
          "timeout": 0,
          "headers": {
            "Content-Type": "application/json"
          },
          "data": JSON.stringify({"name":name}),
        };
        let htmlData='';
        $.ajax(settings).done(function (response) {
            
            let htmlData='';
            if(response.rows.length>0){

            	let stop=4;
            	if(response.rows.length<4){
            		stop=response.rows.length;
            	}
              for(let i=0;i<stop; i++){
              	console.log("=>"+response.rows[i].name);
	            let imageObject = response.rows[i].image[0];
	            if(typeof imageObject !== 'undefined') 
	                if(typeof imageObject.path !== 'undefined') {
	                    imgPath=imageObject.path;
	                }

	                let pid="<%=id %>";
	                if(String(response.rows[i].id)!==pid){
	                	let search=false;

	                	let data=name.split(" ");
	                	for(let a in data){
	                		console.log(response.rows[i].name+'<-->'+(data[a]));
	                		if(response.rows[i].name.includes(data[a])){
	                			search=true;
	                		}
	                	}
	                	if(search==true){
	                  	htmlData +=`<div class="col-lg-3 col-sm-6">
		                    <div class="single_category_product">
		                        <div class="single_category_img">
		                            <a href="/product/`+response.rows[i].id+`">
		                            <img src="../`+imgPath+`" alt="">
		                            </a>
		                            <div class="category_product_text">
		                                <a href="single-product.html"><h5>`+response.rows[i].name+`</h5></a>
		                                <p>$`+response.rows[i].price+`</p>
		                            </div>
		                        </div>
		                    </div>
	                	</div>`;
	                	}
	                }
	              
	            }
            }

            
              $("#similiar").html(htmlData);
              $(".best_seller").show();
        });

     
  }

  function toggleMessages(){
    $(".oldchat").slideToggle();
  }

  function toggleReview(){
    $(".reviewBox").slideToggle();
  }

</script>