<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>winter</title>
    <link rel="icon" href="img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="<%=path %>css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="<%=path %>css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="<%=path %>css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="<%=path %>css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="<%=path %>css/flaticon.css">
    <link rel="stylesheet" href="<%=path %>css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="<%=path %>css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="<%=path %>css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="<%=path %>css/style.css">
    <style>
    .gridLink{
        font-size:14px;
        color:#2f7dfc;
        border:1px solid #2f7dfc;
        padding:10px;
        line-height:45px;
        cursor:pointer;
    }
</style>
</head>


<body class="bg-white">
  <!--::header part start::-->
  <header class="main_menu home_menu">
      <div class="container-fluid">
          <div class="row align-items-center justify-content-center">
              <div class="col-lg-11">
                  <nav class="navbar navbar-expand-lg navbar-light">
                      <a class="navbar-brand" href="/index"> 
                       </a>
                      <button class="navbar-toggler" type="button" data-toggle="collapse"
                          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                          aria-expanded="false" aria-label="Toggle navigation">
                          <span class="menu_icon"><i class="fas fa-bars"></i></span>
                      </button>

                      <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                          <ul class="navbar-nav">
                              <li class="nav-item">
                                  <a class="nav-link" href="/">Home</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="/about">About Us</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="/shop">Shop</a>
                              </li>
                              
                              <li class="nav-item">
                                  <a class="nav-link" href="/contact">Contact</a>
                              </li>
                          </ul>
                      </div>
                      <div class="Account">
                            
                      </div>
                      <div class="dropdown useAccount" style="display:none">
                        <a class="dropdown-toggle username" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding:10px 15px;babground:none;">
                          
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="/profile">Profile</a>
                          <a class="dropdown-item" href="/selling">Sell An Item</a>
                          <a class="dropdown-item" href="/buying">Transactions</a>
                          <a class="dropdown-item" onclick="logoutFunction();">Logout</a>
                        </div>
                      </div>

                  </nav>
              </div>
          </div>
      </div>
      <div class="search_input" id="search_input_box">
          <div class="container ">
              
          </div>
      </div>
  </header>
  <!-- Header part end-->