<!--::footer_part start::-->
    <footer class="footer_part">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="copyright_text">
                        <P>No copyrights added to this project. Web And mobiles class project</P>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--::footer_part end::-->

    <!-- jquery plugins here-->
  <script src="<%=path %>js/jquery-1.12.1.min.js"></script>
  <!-- popper js -->
  <script src="<%=path %>js/popper.min.js"></script>
  <!-- bootstrap js -->
  <script src="<%=path %>js/bootstrap.min.js"></script>
  <!-- easing js -->
  <script src="<%=path %>js/jquery.magnific-popup.js"></script>
  <!-- swiper js -->
  <script src="<%=path %>js/lightslider.min.js"></script>
  <!-- swiper js -->
  <script src="<%=path %>js/mixitup.min.js"></script>
  <script src="<%=path %>js/lightslider.min.js"></script>
  <!-- particles js -->
  <script src="<%=path %>js/owl.carousel.min.js"></script>
  <script src="<%=path %>js/jquery.nice-select.min.js"></script>
  <!-- slick js -->
  <script src="<%=path %>js/slick.min.js"></script>
  <script src="<%=path %>js/jquery.counterup.min.js"></script>
  <script src="<%=path %>js/waypoints.min.js"></script>
  <script src="<%=path %>js/contact.js"></script>
  <script src="<%=path %>js/jquery.ajaxchimp.min.js"></script>
  <script src="<%=path %>js/jquery.form.js"></script>
  <script src="<%=path %>js/jquery.validate.min.js"></script>
  <script src="<%=path %>js/mail-script.js"></script>
  <!-- custom js -->
  
  <script>
    $(document).ready(function(){
      if(localStorage.getItem("isLoggedIn")===null){
        $(".Account").html("<a class=\"\" href=\"/login\">Login</a>&nbsp;&nbsp;<a class=\"\" href=\"/register\">Register</a>");
      }else{
        if(localStorage.getItem("isLoggedIn")=="true"){
          var user=JSON.parse(localStorage.getItem("user"));
        
          $(".useAccount").css("display","block");
          $(".Account").css("display","none");
          $(".username").html(user.name);
        }else{
          $(".Account").html("<a class=\"\" href=\"/login\">Login</a>&nbsp;&nbsp;<a class=\"\" href=\"/register\">Register</a>");
        }
      }
    });

    function logoutFunction(){
      localStorage.removeItem("user");
      localStorage.setItem("isLoggedIn", "false");
      window.location="/";
    }
  </script>
</body>

</html>